/* INDEX OR STUDIO */

:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-text-color: #ffffff;
  --hero-text-color: #ffffff;
  --nav-link-color: #212121;
  --contact-link-color: #757575;
  --btn-text-color: #212121;
  --body-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  background-color: var(--body-bg-color);
  color: #757575;
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER-NAVIGATION */

.web {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.studio {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-link {
  margin-right: 93px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.nav-list {
  display: flex;
  align-items: baseline;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: baseline;
}

.nav-item-link {
  color: var(--nav-link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item:last-child {
  margin-right: 0px;
}

.nav-item {
  margin-right: 50px;
}

.linkcurrent {
  color: var(--accent-color);
}

.contacts-item {
  margin-right: 50px;
}

.contacts-list {
  margin-left: auto;
  display: flex;
}

.contacts-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-link-color);
}

.nav-item-link:hover,
.contacts-item-link:hover {
  color: var(--accent-color);
}

.nav-item-link:focus,
.contacts-item-link:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  background-color: var(--hero-bg-color);
  padding-top: 280px;
  padding-bottom: 280px;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  width: 696px;
  margin: 0 auto 30px;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}
.hero-button:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

/* features */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}
.features-item {
  flex-basis: calc(100% / 3 - 27px);
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* OUR WORK */

.our-work {
  padding-bottom: 94px;
}

.our-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.our-work-list {
  display: flex;
  max-width: 1170px;
  justify-content: center;
  margin: 0 auto;
}

.our-work-item:first-child {
  margin-left: 0px;
}
.our-work-item {
  margin-left: 30px;
  align-items: center;
}

/* TEAM */

.team {
  background-color: var(--team-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-item:last-child {
  margin-right: 0;
}
.team-item {
  margin-right: 30px;
}

.team-card {
  display: block;

  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 30px;
}

.team-item-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* FOOTER */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-list {
  display: block;
}

.footer-logo-link {
  /* margin-bottom: 20px; */
}

.adress-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 6px;
}

.address-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 6px;
}

.address-item-link:hover {
  color: var(--accent-color);
}
.address-item-link:focus {
  color: var(--accent-color);
}

.footer-studio {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* PORTFOLIO */

.portfolio {
  display: block;
  padding-top: 174;
  padding-bottom: 94;
}

.port-title {
  padding-top: 174px;
}

/* FILTER BTN */

.filter {
  /* display: flex; */
}

.portfolio-filter {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* .portfolio-filter .filter-btn:not(:last-child) {
  margin-right: 8px; */
}

/* .filter-btn{
  margin-right:8px;
} */

.filter-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  background: #f5f4fa;
  margin-right:8px
}

.filter-btn:hover {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

/* WORK EXAMPLES */

.examples-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.examples-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
